<span class="{{other_classes}}"
    id="due-wrapper-{{task.id}}"
    hx-post="/get-updated-date-warning/{{ task.id }}"
    hx-trigger="load, htmx:afterRequest from:#date-component-in-{{task.id}}"
    hx-swap="none"
    hx-on::after-request="this.className = event.detail.xhr.responseText"><span class="due-day"
    id="date-component-in-{{task.id}}"
    contenteditable="true"
    hx-post="/update-task-due/day/{{ task.id }}"
    hx-trigger="blur"
    hx-target="this"
    hx-swap="innerHTML"
    hx-vals='js:{"day": event.target.textContent.trim()}'
    hx-indicator="#indicator"
    onfocus="selectAll(this)"
    >{{task.due_date.strftime('%d')}}</span>/<span class="due-month"
    id="date-component-in-{{task.id}}"
    contenteditable="true"
    hx-post="/update-task-due/month/{{ task.id }}"
    hx-trigger="blur"
    hx-target="this"
    hx-swap="innerHTML"
    hx-vals='js:{"month": event.target.textContent.trim()}'
    hx-indicator="#indicator"
    onfocus="selectAll(this)"
    >{{task.due_date.strftime('%m')}}</span>/<span class="due-year"
    id="date-component-in-{{task.id}}"
    contenteditable="true"
    hx-post="/update-task-due/year/{{ task.id }}"
    hx-trigger="blur"
    hx-target="this"
    hx-swap="innerHTML"
    hx-vals='js:{"year": event.target.textContent.trim()}'
    hx-indicator="#indicator"
    onfocus="selectAll(this)"
    >{{(task.due_date.year ~ "")[-1]}}</span>
</span>