<div class="task-content-wrapper">
     <div class="align-left">
          <span class="completed" 
               hx-post="/toggle-task/{{ task.id }}"
               hx-target="#task-content-{{ task.id }}"
               hx-swap="innerHTML"
               hx-trigger="click"
               hx-indicator="#indicator">{% if task.completed %}[x]{% else %}[ ]{% endif %}</span>
     
          <span class="name" 
               id="task-name-{{ task.id }}"
               contenteditable="true"
               data-placeholder="Enter task name..."
               hx-post="/update-task-name/{{ task.id }}"
               hx-trigger="blur"
               hx-target="this"
               hx-swap="innerHTML"
               hx-vals='js:{"name": event.target.textContent.trim()}'
               hx-indicator="#indicator">{{ task.name }}</span>
     </div>

     <div class="align-right">
          <span class="due-wrapper{% if task.due_date.date() < task.due_date.now().date() %} due-date-passed{% else %}{% endif %}{% if task.due_date.date() == task.due_date.now().date() %} due-date-today{% else %}{% endif %}{% if task.due_date.replace(day=task.due_date.day-1).date() == task.due_date.now().date() %} due-date-tomorrow{% else %}{% endif %}">
               <span class="due-day"
               contenteditable="true"
               hx-post="/update-task-due/day/{{ task.id }}"
               hx-trigger="blur"
               hx-target="this"
               hx-swap="innerHTML"
               hx-vals='js:{"day": event.target.textContent.trim()}'
               hx-indicator="#indicator"
               onfocus="selectAll(this)"
               >{{task.due_date.strftime('%#d')}}</span>/<span class="due-month"
               contenteditable="true"
               hx-post="/update-task-due/month/{{ task.id }}"
               hx-trigger="blur"
               hx-target="this"
               hx-swap="innerHTML"
               hx-vals='js:{"month": event.target.textContent.trim()}'
               hx-indicator="#indicator"
               onfocus="selectAll(this)"
               >{{task.due_date.strftime('%#m')}}</span>/<span class="due-year"
               contenteditable="true"
               hx-post="/update-task-due/year/{{ task.id }}"
               hx-trigger="blur"
               hx-target="this"
               hx-swap="innerHTML"
               hx-vals='js:{"year": event.target.textContent.trim()}'
               hx-indicator="#indicator"
               onfocus="selectAll(this)"
               >{{(task.due_date.year ~ "")[-1]}}</span>
          </span>
          <span class="delete-btn"
               hx-post="delete-task/{{ task.id }}"
               hx-target="#task-item-{{ task.id }}"
               hx-swap="outerHTML"
               hx-trigger="click, keyup[ctrlKey&&key=='Delete'] from:#task-content-{{ task.id }}"
               hx-indicator="#indicator">×</span>
     </div>
</div>

<!-- Hidden form to handle Enter key for creating subtasks -->
<form style="display: none;" 
      hx-post="/create-subtask/{{ task.id }}"
      hx-target="#subtasks-{{ task.id }}"
      hx-swap="beforeend"
      hx-trigger="keydown[key=='Enter'] from:previous .name"
      hx-indicator="#indicator"></form>

<!-- another form to handle displacement upwards-->
<form style="display: none;" 
      hx-post="/move-task/{{ task.id }}"
      hx-target="#task-list"
      hx-swap="innerHTML"
      hx-trigger="keyup[ctrlKey&&key=='ArrowUp'] from:previous .name"
      hx-vals='js:{"displacement": -1}'
      hx-indicator="#indicator"></form>

<!-- another form to handle displacement downwards-->
<form style="display: none;" 
      hx-post="/move-task/{{ task.id }}"
      hx-target="#task-list"
      hx-swap="innerHTML"
      hx-trigger="keyup[ctrlKey&&key=='ArrowDown'] from:previous .name"
      hx-vals='js:{"displacement": 1}'
      hx-indicator="#indicator"></form>