<div class="task-content-wrapper">
     <div class="align-left">
          <span class="completed" 
               hx-post="/toggle-task/{{ task.id }}"
               hx-target="#task-content-{{ task.id }}"
               hx-swap="innerHTML"
               hx-trigger="click"
               hx-indicator="#indicator">{% if task.completed %}[x]{% else %}[ ]{% endif %}</span>
     
          <span class="name" 
               id="task-name-{{ task.id }}"
               contenteditable="true"
               data-placeholder="Enter task name..."
               hx-post="/update-task-name/{{ task.id }}"
               hx-trigger="blur"
               hx-target="this"
               hx-swap="innerHTML"
               hx-vals='js:{"name": event.target.textContent.trim()}'
               hx-indicator="#indicator">{{ task.name }}</span>
     </div>

     <div class="align-right">
          <span class="due-wrapper">
               {% set other_classes = "" %}
               {% set today = task.due_date.now().date() %}
               {% if task.due_date.date() < today %}
                    {% set other_classes = other_classes ~ "past-due " %}
               {% elif task.due_date.date() == today %}
                    {% set other_classes = other_classes ~ "due-today " %}
               {% elif task.due_date.date() == today.replace(day=today.day+1) %}
                    {% set other_classes = other_classes ~ "due-tomorrow " %}
               {% elif task.due_date.date() <= today.replace(day=today.day+7) %}
                    {% set other_classes = other_classes ~ "due-in-next-week " %}
               {% endif %}

               {% set date_type="day" %}{% set inner_text=task.due_date.strftime('%#d') %}{% include "_date_span.html"  %}/{% set date_type="month" %}{% set inner_text=task.due_date.strftime('%#m') %}{% include "_date_span.html" %}/{% set date_type="year" %}{% set inner_text=(task.due_date.year ~ "")[-1] %}{% include "_date_span.html" %}
          </span>
          <span class="delete-btn"
               hx-post="delete-task/{{ task.id }}"
               hx-target="#task-item-{{ task.id }}"
               hx-swap="outerHTML"
               hx-trigger="click, keyup[ctrlKey&&key=='Delete'] from:#task-content-{{ task.id }}"
               hx-indicator="#indicator">×</span>
     </div>
</div>

<!-- Hidden form to handle Enter key for creating subtasks -->
<form style="display: none;" 
      hx-post="/create-subtask/{{ task.id }}"
      hx-target="#subtasks-{{ task.id }}"
      hx-swap="beforeend"
      hx-trigger="keydown[key=='Enter'] from:previous .name"
      hx-indicator="#indicator"></form>

<!-- another form to handle displacement upwards-->
<form style="display: none;" 
      hx-post="/move-task/{{ task.id }}"
      hx-target="#task-list"
      hx-swap="innerHTML"
      hx-trigger="keyup[ctrlKey&&key=='ArrowUp'] from:previous .name"
      hx-vals='js:{"displacement": -1}'
      hx-indicator="#indicator"></form>

<!-- another form to handle displacement downwards-->
<form style="display: none;" 
      hx-post="/move-task/{{ task.id }}"
      hx-target="#task-list"
      hx-swap="innerHTML"
      hx-trigger="keyup[ctrlKey&&key=='ArrowDown'] from:previous .name"
      hx-vals='js:{"displacement": 1}'
      hx-indicator="#indicator"></form>