<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tdv3!</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <span class="htmx-indicator" id="indicator">saving ...</span>
    <div class="task-container">
        <!-- <span class="title">tdv3!</span> -->
        
        <div id="task-list"
             hx-post="/create-first-task"
             hx-target="#task-list"
             hx-trigger="keydown[key=='Enter' && event.target.tagName == 'BODY'] from:body"
             hx-swap="innerHTML"
             hx-indicator="#indicator">
            {% if tasks %}
                {% include '_task_list.html' %}
            {% else %}
                <div class="empty-state">
                    press [Enter] to create your first task
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        // Only prevent default Enter behavior in contenteditable elements
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Enter' && e.target.contentEditable === 'true') {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>