<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
    <title>tdv3!</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <script>
        // a script to allow for selection of a whole contenteditable upon click (for dates)
        function selectAll(el) {
            const range = document.createRange();
            range.selectNodeContents(el);
            const sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
        }
    </script>
</head>
<body>
    <span class="htmx-indicator" id="indicator">saving ...</span>
    <a class="logout-button" href="/logout">logout</a>

    <div class="main-content centered" id="main-content">
        {% include '_main_content.html' %}
    </div>

    <script>
        // Only prevent default Enter behavior in contenteditable elements
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Enter' && e.target.contentEditable === 'true') {
                e.preventDefault();
            }
        });
    </script>
    <script>
        // blur from all elements when esc is pressed
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Escape') {
                if (document.activeElement) {
                    document.activeElement.blur();
                }
            }
        });
    </script>
</body>
</html>